<!-- Overdue Section -->
<div class="flex mb-4">
  <h5 class="text-xl">Overdue</h5>
  <div class="bg-gray-200 px-2.5 py-0.5 rounded text-base ml-2" id="count-overdue"><%= overdueCount %></div>
</div>
<ul class="list-none">
  <% overdueTodos.forEach(function(todo) { %>
    <li>
      <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50 rounded group">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 border-gray-300 bg-gray-100" <%= todo.completed ? 'checked' : '' %> >
        <label for="todo-<%= todo.id %>" class="ml-2"><%= todo.title %> - <%= todo.dueDate %></label>
      </div>
    </li>
  <% }); %>
</ul>

<!-- Due Today Section -->
<div class="flex mb-4 mt-8">
  <h5 class="text-xl">Due Today</h5>
  <div class="bg-gray-200 px-2.5 py-0.5 rounded text-base ml-2" id="count-due-today"><%= dueTodayCount %></div>
</div>
<ul class="list-none">
  <% dueTodayTodos.forEach(function(todo) { %>
    <li>
      <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-green-50 rounded group">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 border-gray-300 bg-gray-100" <%= todo.completed ? 'checked' : '' %> >
        <label for="todo-<%= todo.id %>" class="ml-2"><%= todo.title %> - <%= todo.dueDate %></label>
      </div>
    </li>
  <% }); %>
</ul>

<!-- Due Later Section -->
<div class="flex mb-4 mt-8">
  <h5 class="text-xl">Due Later</h5>
  <div class="bg-gray-200 px-2.5 py-0.5 rounded text-base ml-2" id="count-due-later"><%= dueLaterCount %></div>
</div>
<ul class="list-none">
  <% dueLaterTodos.forEach(function(todo) { %>
    <li>
      <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-yellow-50 rounded group">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 border-gray-300 bg-gray-100" <%= todo.completed ? 'checked' : '' %> >
        <label for="todo-<%= todo.id %>" class="ml-2"><%= todo.title %> - <%= todo.dueDate %></label>
      </div>
    </li>
  <% }); %>
</ul>
